<!DOCTYPE html>

<html lang="es">
<!--
<head>
     Required meta tags
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   Bootstrap CSS

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/estilos.css">

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Revisarport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/estilos.css">


    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script>
    $(function(){
      $("#includedContent").load("/navBar.html");
    });


    </script>

    <title>Reporte</title>
</head>

<body>
<div id="includedContent" class="container-fluid p-0"></div>
<div class="container mt-4 justify-content-center table-bordered rounded bg-secondary shadow-lg border-radius">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1 class="pt-4">Reporte Organización</h1>
        </div>
    </div>
    <div class="row">
        <form class="col-3"></form>

        <form class="col-6 m-4">


            <h6 class="pt-4">Cálculo Huella de Carbono: </h6>


            <div class="form-group row my-1">

                <label for="text" class="col-form-label">Total :</label>

                <div class="row">
                    <table class="table table-secondary">

                        <thead class="table-primary">
                        <tr>
                            <th>Sector</th>
                            <th>HC</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <ul class="actividades">
                                    {{#each nombreSector}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </td>
                            <td>
                                <ul class="calculos">
                                    {{#each calculos}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul></td>

                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </form>

        <form class="col-3 m-4"></form>
    </div>

</div>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>